@font-face {
    font-family: Circular Std;
    src: url("assets/fonts/circular-std-medium-500.ttf");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}